body{
  font-family: Arial;
  margin:0;
  background:#0f0f0f;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
  background:black;
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:80px;
  background:linear-gradient(to right,#000,#333);
}

.products{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  padding:20px;
}

.card{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

button{
  padding:10px;
  background:red;
  color:white;
  border:none;
  cursor:pointer;
}